<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="../js/vue.js"></script>
</head>
<body>
<div id="app">
  <label for="license">
    <input type="checkbox" id="license" v-model="isAgree">同意
  </label>
  <h2>choose: {{isAgree}}</h2>
  <button :disabled="!isAgree">111111111</button>
  <hr>
<!--单选框对应Boolean 多选框对应数组-->
    <input type="checkbox" value="篮球" v-model="hobbies">篮球
    <input type="checkbox" value="足球" v-model="hobbies">足球
    <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球
    <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球
<h2>choose: {{hobbies}}</h2>
</div>
<script>
  // let(变量)/const(常量)
  const app = new Vue ({
    el:'#app', // 挂载要管理的元素
    data:{ // 定义数据
      isAgree:false,
      hobbies:[]
    }
  })
</script>
</body>
</html>